body {
    text-align: center;
    background-color: #131328;
    /*background: linear-gradient(125deg, rgba(34, 45, 91, 1) 0%, rgba(31, 40, 82, 1) 11.13%, rgba(24, 28, 56, 1) 29.57%, rgba(19, 20, 39, 1) 40%, rgba(19, 20, 39, 1) 60%, rgba(63, 23, 44, 1) 99.44%);*/
    color: #131328;
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 21px;
    line-height: 1.35;
}

.nav-link {
    font-size: 20pt;
    margin-left: 1em;
}

.container {
    margin: 10px auto;
    padding: 30px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-lg {
    max-width: 1040px;
    width: 100%;
}

.text-box-left {
    text-align: left;
}

.text-box-center {
    text-align: center;
}

.text-box-right {
    text-align: right;
}

.navbar {
    box-shadow: 0px 3px 10px black;
    background-color: #131328;
    background: linear-gradient(125deg, rgba(34, 45, 91, 1) 0%, rgba(31, 40, 82, 1) 11.13%, rgba(24, 28, 56, 1) 29.57%, rgba(19, 20, 39, 1) 40%, rgba(19, 20, 39, 1) 60%, rgba(63, 23, 44, 1) 99.44%);
}

#content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#homepage {
    height: 90vh;
    min-height: 800px;
}

.homepage-social-buttons {
    margin-top: auto;
}

.page {
    min-height: 200px;
    max-width: 700px;
    width: 100%;
    display: inline-block;
}

.page1 {
    background-color: red;
    height: 90vh;
}

.mainlogo {
    max-width: 400px;
    margin: auto auto;
    min-width: 60%;
}

.page2 {
    background-color: white;
    color: #131328;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 0px;
    font-weight: bold;
}

h2 {
    color: #131328;
    margin: 0px;
    font-size: 1.75em;
    font-weight: bold;
}

h3 {

}

.colorbox {
    float: left;
    width: 20px;
    height: 20px;
    margin: 14px 12px 5px 5px;
    border: 0px solid rgba(0, 0, 0, .2);
}

.footer {
    width: 100vw;
}

p {
    font-style: normal;
    font-size: 1em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
}

.flex-absolutecenter {
    justify-content: center;
    align-items: center;
}

footer > a {
    padding: 1%;
    padding: 0 20px;
}

#homepage > footer {
    margin-bottom: 20px;
}

.shadowlarge {
    transition: all .2s ease-in-out;
}

.shadowlarge:hover {
    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
    transform: scale(1.05);
}

.shadowsmall {
    transition: all .2s ease-in-out;
}

.shadowsmall:hover {
    filter: drop-shadow(0 0 0.3rem rgb(0, 0, 0));
    transform: scale(1.25);
}

#copyright {
    color: white;
    opacity: 0.2;
    margin: 0 auto;
}

.dark {
    color: black;
    text-decoration: underline;
}

table {
    font-size: 1em;
    text-align: left;
    width: 100%;
}

thead {
    background-color: #131328;
    color: white;
    text-align: center;
}

tr:nth-child(even) {
    background: #DDD
}

td, th {
    padding: 10px; 
}

.flex-grid {
    display: flex;
    padding: 10px 0;
}

.col {
    flex: 1;
    padding: 0 20px;
}

.col > img {
    width: 100%;
}

.bg-dark {
    background-color: #131328 !important;
}

.hidden {
    display: none;
}

.hide {
	animation: slide-out 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-out {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px);
    }
}

.navshow {
	animation: slide-bottom 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-bottom {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

:target {
    display: block;
    position: relative;
    top: -95px; 
    visibility: hidden;
}
