body {
    text-align: center;
    background-color: #131328;
    color: white;
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
}

p {
    font-weight: 100;
    font-style: normal;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25%;
    margin-left: -12.5%;
    margin-top: -12.5%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-bottom: 2vh;
}

.footer > a {
    padding: 1%;
}

.shadowlarge {
    transition: all .2s ease-in-out;
}

.shadowlarge:hover {
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    transform: scale(1.05);
}

.shadowsmall {
    transition: all .2s ease-in-out;
}

.shadowsmall:hover {
    filter: drop-shadow(0 0 0.5rem white);
    transform: scale(1.25);
}

.shadowed2:hover {
    -webkit-filter: drop-shadow(0px 0px 15px rgba(0,0,0,.1));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
    
    transform: scale(1.05);
}